body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
    text-align: center;
    list-style-position: inside;
}

.middle{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

