body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
    text-align: center;
    list-style-position: inside;
}

.middle{
    width:400px;
    margin:0 auto;
    text-align:left;
}


